<!-- As a link -->
<div>
<div  class="border border-primary " >
<nav class="navbar row mb-3 ">
  <div class="container-fluid col-md-2">

  </div>
</nav>

      <form >

        <div class="align-items-center container">
          <h1 class="text-white bg-primary  p-2 rounded text-center " >Inscription</h1>
          </div>
        <div  class="container">


          <div  class="row mb-3">
          <div  class="col-md-6">
            <app-input
              [control]="tpForm.controls.prenom"
              inputId="prenom"
              label="Prénom"
              type="text"
              placeholder="Votre prénom">
            </app-input>
            </div>

            <div  class="col-md-6">
            <app-input
              [control]="tpForm.controls.nom"
              inputId="nom"
              label="Nom"
              type="text"
              placeholder="Votre nom">
            </app-input>
            </div>
            </div>
            <div  class="row mb-3">
              <div  class="col-md-6">
            <app-input
              [control]="tpForm.controls.email"
              inputId="email"
              label="Email"
              type="text"
              placeholder="Votre adresse email">
            </app-input>
              </div>
              <div  class="col-md-6">
            <app-select
              [control]="tpForm.controls.role"

              inputId="role"
              label="Role"
              [options]="options"
              >
            </app-select>
          </div>
        </div>
        <div  class="row mb-3">
          <div  class="col-md-6">
            <app-input
              [control]="tpForm.controls.mdp"
              inputId="mdp"
              label="Choisir un mot de pass"
              type="password"
              placeholder="Votre mot de pass">
            </app-input>
            </div>
              <div  class="col-md-6">
            <app-input
              [control]="tpForm.controls.cmdp"
              inputId="cmdp"
              label="Confirmer le mot de pass"
              type="password"
              placeholder="confirmer">
            </app-input>
            </div>
            </div>
            <div  class="row mb-3" >
              <div  class="col-md-6">
                <script src="/js/plugins/piexif.js"></script>
<script src="/js/fileinput.js"></script>
<div class="file-loading">
    <input id="input-image-4" name="input-image" type="file" accept="image/*">
</div>
<script>
$("#input-image-4").fileinput({
    uploadUrl: "/site/image-upload",
    allowedFileExtensions: ["jpg", "png", "gif"],
    maxImageWidth: 200,
    maxImageHeight: 150,
    resizePreference: 'height',
    maxFileCount: 1,
    resizeImage: true,
    resizeIfSizeMoreThan: 1000
}).on('filepreupload', function() {
    $('#kv-success-box').html('');
}).on('fileuploaded', function(event, data) {
    $('#kv-success-box').append(data.response.link);
    $('#kv-success-modal').modal('show');
});
</script>

                </div>
            </div>
            </div>
       <div class="container">

                    <div  class="row align-items-start">
                    </div>
                    <button type="button" [disabled]="tpForm.invalid" class="btn btn-primary">Envoiyer</button>
                  </div>
                  </form>
                </div>
              </div>
