


<div class="table-responsive">
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Matricule</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Bara</td>
        <td>Ba</td>
        <td>@gmail.com</td>
        <td > <i class="bi bi-archive-fill"></i>
          <i class="bi bi-pencil-square"></i>
          <i class="bi bi-person-up"></i>
        </td>
      </tr>

    </tbody>
  </table>
</div>

