
<section  class="vh-100 bg-image">
   
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">  <span class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
        role="button" data-mdb-toggle="dropdown" aria-expanded="false">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
          height="50" alt="Avatar" loading="lazy" />
    </span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <li class="nav-item">
            <a class="nav-link" href="#">actives</a>
          </li>
        </ul>
       
        <button type="button" class="btn btn-primary">DÉCONNEXION</button>
      </div>
    </div>
  </nav>
  <nav class="navbar bg-white">
    <div class="container-fluid">
      <a class="navbar-brand"></a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="table-responsive container">
    <table class="table table-bordered ">
        <thead>
          <tr>
            <th scope="col">Matricule</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Bara</td>
            <td>Ba</td>
            <td>@gmail.com</td>
            <td >
              <div class="" >
    
              <a href="" class="" ><i class="bi bi-archive-fill"></i></a>
           
              </div>
            </td>
          </tr>
    
        </tbody>
      </table>
    </div>
    
</section>
<nav>
  <ul class="pagination fixed-bottom justify-content-center">
                 <!-- Lien vers la page précédente (désactivé si on se trouve sur la 1ère page) -->
                 <li class="page-item ">
                     <a href="?page=" class="page-link"> <span aria-hidden="true">&laquo;</span></a>
                 </li>


                   <!-- Lien vers la page suivante (désactivé si on se trouve sur la dernière page) -->
                  <li class="page-item ">
                     <a href="?page=" class="page-link"><span aria-hidden="true">&raquo;</span></a>
                 </li>
             </ul>
         </nav>

